{
  "Version": "2012-10-17",
  "Id": "EventbridgePolicy",
  "Statement": [
    {
      "Sid": "SFSMAccess",
      "Effect": "Allow",
      "Action": [
        "states:*"
      ],
      "Resource": "${sfsm_arn}"
    }
  ]
}